recursive-include pop_tools *.py
recursive-include pop_tools *.yaml
recursive-include pop_tools *.txt
include pop_tools/input_templates/*
include LICENSE
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune tests*
